body {


    font-family: 'Roboto', sans-serif !important;
 }

 .sfondo-grey {
     background-color: #EBEDEE;
 }

.masthead {
    height: 60vh;
    /* min-height: 500px; */
    background-image: url('https://images.squarespace-cdn.com/content/v1/5cae8091fb18207af27d1f9d/1581283925604-SJYZ8IOU8RJIO1LQ0IOV/ke17ZwdGBToddI8pDm48kDHPSfPanjkWqhH6pl6g5ph7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0mwONMR1ELp49Lyc52iWr5dNb1QJw9casjKdtTg1_-y4jz4ptJBmI9gQmbjSQnNGng/image-asset.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

  .masthead2 {
    height: 600px !important;
    background-image: url('/img/copertina.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }




.bulla {
    border-color:#E9E9E9;
    color: #9D9D9D;

}

.ads {

    width: 430px;
    height: 275px;
    background-color: #fff;
    border-radius: 5px;



  }






// BOTTONE NAVBAR


.circleScaleBtn {
    padding: 12px 24px;
    background-color: rgba(96, 226, 230, 0.3);
    color: #122b2c;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

.circleScaleBtn span {
    z-index: 1;
    position: relative;
}

.circleScaleBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
    background-color:rgba(96, 226, 230, 0.6);
    opacity: 0;
}

.circleScaleBtn:hover span {
    color: hsl(222, 100%, 95%);
}

.circleScaleBtn:hover::before {
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}

//font
.sensei {
    font-size: 13px !important;


}




.buttunxl {

    width:200px !important;
}

p {

    color: #60E2E6 !important;
}

a {
    text-decoration: none !important;
}


:root{
    --main-color:  #60E2E6;
    --second-color: #3490DD;
    --color-accent:#9800FF;
    --color-plus: #B64EFD;
}

h6 {
    font-size: 0.8em !important;
}


.text-main{
    color: var(--main-color) !important;
}

.text-second{
    color: var(--second-color);
}

.text-accent{
    color: var(--color-accent) !important;
}
.text-plus{
    color: var(--color-plus);
}


// NAVBAR CUSTOM VINTED



  /* header */

  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }



  /* menu */

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  /* menu icon */



  /* menu btn */

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  .svg--parent-height svg {
    height: 100%;
  }

  /* Select*/
  /*the container must be positioned relative:*/
  .custom-select {
    position: relative;
    font-family: Arial;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin: 10px 0 0 0;
    width: 125px;
  }

  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }

  .select-selected {
    background-color: #ebedee;
  }

  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #999 transparent transparent transparent;
  }

  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #999 transparent;
    top: 7px;
  }

  /*style the items (options), including the selected item:*/
  .select-items div,
  .select-selected {
    color: #999;
    margin-bottom: 5px;
    padding: 8px 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
  }

  /*style items (options):*/
  .select-items {
    position: absolute;
    width: 150px;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  /*hide the items when the select box is closed:*/
.select-hide {
    display: none;
  }

  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  /**/
  form.example input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    float: left;
    width: 60%;
    height: 14px;
    background: #f1f1f1;
  }

  form.example button {
    float: left;
    width: 40px;
    padding: 6px;
    background: #2196f3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.example button:hover {
    background: #0b7dda;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


  .button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button2 {
    background-color: white;
    color: #09b1ba;
    border: 1px solid #09b1ba;
    border-radius: 4px;
    font-size: 16px;
  }

  .button2:hover {
    background-color: #999;
    color: #09b1ba;
  }
  .button3 {
    background-color: #09b1ba;
    color: #fff;
    border: 1px solid #09b1ba;
    border-radius: 4px;
    font-size: 16px;
  }

  .button3:hover {
    background-color: #fff;
    color: #09b1ba;
  }

  #hide1 {
    display: none;
  }

  /* 48em = 768px */

  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 6px 12px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
      padding: 7px;
    }
    .header .menu-icon {
      display: none;
    }
    #wrapper {
      display: inline-block;
      margin: 0 25px 0 50px;
    }

    .button {
      background-color: #4caf50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .button2 {
      background-color: white;
      color: #09b1ba;
      border: 1px solid #09b1ba;
      border-radius: 4px;
      font-size: 12px;
    }

    .button2:hover {
      background-color: #999;
      color: #09b1ba;
    }
    .button3 {
      background-color: #09b1ba;
      color: #fff;
      border: 1px solid #09b1ba;
      border-radius: 4px;
      font-size: 12px;
    }

    .button3:hover {
        background-color: #fff;
        color: #09b1ba;
      }
    .header {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .example {
      margin: auto;
      display: inline-block;
      width: 466px;
      max-width: 600px;
      margin-top: 10px;
    }
    #wrapper {
      width: auto;
      padding: 0;
    }
    form.example input[type="text"] {
      width: 80%;
    }
    #hide1 {
      display: inline-block;
    }
  }
  @media (min-width: 768px) and (max-width: 1042px) {
    #wrapper {
      margin: 0;
    }
    form.example input[type="text"] {
      width: 80%;
    }
  }
  @media (min-width: 300px) and (max-width: 325px) {
    #wrapper {
      margin: 0;
      padding: 0 30px;
    }
    form.example input[type="text"] {
      width: 40%;
    }
  }
  @media (min-width: 326px) and (max-width: 375px) {
    #wrapper {
      margin: 0;
      padding: 0 30px;
    }
    form.example input[type="text"] {
      width: 60%;
    }
  }
  @media (min-width: 376px) and (max-width: 425px) {
    #wrapper {
      margin: 0;
      padding: 0 30px;
    }
    form.example input[type="text"] {
      width: 70%;
    }
  }




//IMMAGINE MODALE START ZOOM
/* Style the Image Used to Trigger the Modal */
.doren {
    transition:transform 0.25s ease;
}

.doren:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}
