.riz-top-header .dropbtn {
    display: inline-block;
    color: #999;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.riz-top-header li a:hover,
.riz-top-header .dropdown:hover .dropbtn {
    background-color: rgb(241, 241, 241);
}

.riz-top-header li.dropdown {
    display: inline-block;
}

.riz-top-header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.riz-top-header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.riz-top-header .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.riz-top-header .dropdown:hover .dropdown-content {
    display: block;
}

.riz-top-header #d1 h3,
.riz-top-header #d1 li {
    margin: 15px 15px;
}

.riz-top-header #d1 li a {
    padding: 5px;
}
.riz-top-header #d1 li a span {
    margin: 0 15px;
}
.riz-top-header #d2 h3,
.riz-top-header #d2 {
    margin: 0;
}
.riz-top-header .dropdown-content a span {
    margin: 5px 15px;
}
/**/

.riz-top-header a {
    color: #000;
}

/* header */

.riz-top-header .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.riz-top-header .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.riz-top-header .header li a,
.riz-top-header .header li span.header-link
{
    display: block;
    text-decoration: none;
}

.riz-top-header .header li a:hover,
.riz-top-header .header li span.header-link:hover,
.riz-top-header .header .menu-btn:hover {
    background-color: #f4f4f4;
}

.riz-top-header .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 0px 20px;
    text-decoration: none;
}

/* menu */

.riz-top-header .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* menu icon */

.riz-top-header .header .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.riz-top-header .header .menu-icon .navicon {
    background: #999;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 22px;
}

.riz-top-header .header .menu-icon .navicon:before,
.riz-top-header .header .menu-icon .navicon:after {
    background: #999;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.riz-top-header .header .menu-icon .navicon:before {
    top: 7px;
}

.riz-top-header .header .menu-icon .navicon:after {
    top: -7px;
}

/* menu btn */

.riz-top-header .header .menu-btn {
    display: none;
}

.riz-top-header .header .menu-btn:checked ~ .menu {
    max-height: 100vh;
}

.riz-top-header .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.riz-top-header .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.riz-top-header .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.riz-top-header .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.riz-top-header .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.riz-top-header .svg--parent-height svg {
    height: 100%;
}

/* Select*/
/*the container must be positioned relative:*/
.riz-top-header .custom-select-riz {
    position: relative;
    font-family: Arial;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin: 10px 0 0 0;
    width: 125px;
}

.riz-top-header .custom-select-riz select {
    display: none; /*hide original SELECT element:*/
}

.riz-top-header .select-selected {
    background-color: #ebedee;
}

/*style the arrow inside the select element:*/
.riz-top-header .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #999 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.riz-top-header .select-selected.select-arrow-active:after {
    border-color: transparent transparent #999 transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.riz-top-header .select-items div,
.riz-top-header .select-selected {
    color: #999;
    margin-bottom: 5px;
    padding: 8px 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.riz-top-header .select-items {
    position: absolute;
    width: 150px;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.riz-top-header .select-hide {
    display: none;
}

.riz-top-header .select-items div:hover,
.riz-top-header .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/**/
.riz-top-header form.example input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    float: left;
    width: 60%;
    height: 14px;
    background: #f1f1f1;
}

.riz-top-header form.example button {
    float: left;
    width: 40px;
    padding: 6px;
    background: #2196f3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.riz-top-header form.example button:hover {
    background: #0b7dda;
}

.riz-top-header form.example::after {
    content: "";
    clear: both;
    display: table;
}

.riz-top-header .menu-icon {
    flex: 0 0 100%;
}
.riz-top-header #wrapper {
    width: 100%;
    padding: 0 15px;
    display: inline-block;
}
.riz-top-header .example {
    margin: auto;
    display: inline-block;
    width: 55%;
    max-width: 600px;
    margin-top: 10px;
}

.riz-top-header .button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.riz-top-header .button2 {
    background-color: white;
    color: #09b1ba;
    border: 1px solid #09b1ba;
    border-radius: 4px;
    font-size: 16px;
}

.riz-top-header .button2:hover {
    background-color: #999;
    color: #09b1ba;
}
.riz-top-header .button3 {
    background-color: #09b1ba;
    color: #fff;
    border: 1px solid #09b1ba;
    border-radius: 4px;
    font-size: 16px;
}

.riz-top-header .button3:hover {
    background-color: #008cba;
    color: #008cba;
}

.riz-top-header #hide1 {
    display: none;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .riz-top-header .header li {
        float: left;
    }
    .riz-top-header .header li a,
    .riz-top-header .header li span.header-link
    {
        padding: 6px 12px;
    }
    .riz-top-header .header .menu {
        clear: none;
        float: right;
        max-height: none;
        padding: 7px;
    }
    .riz-top-header .header .menu-icon {
        display: none;
    }
    .riz-top-header #wrapper {
        display: inline-block;
        margin: 0 25px 0 50px;
    }

    .riz-top-header .button {
        background-color: #4caf50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .riz-top-header .button2 {
        background-color: white;
        color: #09b1ba;
        border: 1px solid #09b1ba;
        border-radius: 4px;
        font-size: 12px;
    }

    .riz-top-header .button2:hover {
        background-color: #999;
        color: #09b1ba;
    }
    .riz-top-header .button3 {
        background-color: #09b1ba;
        color: #fff;
        border: 1px solid #09b1ba;
        border-radius: 4px;
        font-size: 12px;
    }

    .riz-top-header .button3:hover {
        background-color: #008cba;
        color: #008cba;
    }
    .riz-top-header .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .riz-top-header .example {
        margin: auto;
        display: inline-block;
        width: 466px;
        max-width: 600px;
        margin-top: 10px;
    }
    .riz-top-header #wrapper {
        width: auto;
        padding: 0;
    }
    .riz-top-header form.example input[type="text"] {
        width: 80%;
    }
    .riz-top-header #hide1 {
        display: inline-block;
    }
    .riz-top-header #d1 {
        display: none;
    }
    .riz-top-header #d2 {
        position: relative;
        padding: 0 200px;
        top: 55px;
        /* display: inline-block; */
        margin: 0;
        /* padding: 56px 15px; */
        background: #ffffff;
    }
    .riz-top-header #d2 h3 {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1042px) {
    .riz-top-header #wrapper {
        margin: 0;
    }
    .riz-top-header form.example input[type="text"] {
        width: 80%;
    }
}
@media (min-width: 300px) and (max-width: 325px) {
    .riz-top-header #wrapper {
        margin: 0;
        padding: 0 30px;
    }
    .riz-top-header form.example input[type="text"] {
        width: 40%;
    }
}
@media (min-width: 326px) and (max-width: 375px) {
    .riz-top-header #wrapper {
        margin: 0;
        padding: 0 30px;
    }
    .riz-top-header form.example input[type="text"] {
        width: 60%;
    }
}
@media (min-width: 376px) and (max-width: 425px) {
    .riz-top-header #wrapper {
        margin: 0;
        padding: 0 30px;
    }
    .riz-top-header form.example input[type="text"] {
        width: 70%;
    }
}
.riz-top-header #search1 {
    box-sizing: content-box !important;
    height: 20px;
}
