<template>
    <div class="flex justify-center items-centers">
        <div class="w-full max-w-xl">
            <heading class="flex mb-3">Dashboard</heading>
            <p class="text-90 leading-tight mb-8">Gestisci gli utenti e gli articoli del sito</p>

            <card>
                <table class="w-full" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="align-top w-1/2 border-r border-b border-50">
                            <a href="/admin/resources/users" class="no-underline dim flex p-6">
                                <div class="flex justify-center w-11 flex-no-shrink mr-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20"><g id="Page-1" fill="none" fill-rule="evenodd"><g id="icon-resources" fill="var(--primary)" fill-rule="nonzero" transform="translate(0 -1)"><path id="Shape" d="M15.573,11.624c0.568-0.478,0.947-1.219,0.947-2.019c0-1.37-1.108-2.569-2.371-2.569s-2.371,1.2-2.371,2.569c0,0.8,0.379,1.542,0.946,2.019c-0.253,0.089-0.496,0.2-0.728,0.332c-0.743-0.898-1.745-1.573-2.891-1.911c0.877-0.61,1.486-1.666,1.486-2.812c0-1.79-1.479-3.359-3.162-3.359S4.269,5.443,4.269,7.233c0,1.146,0.608,2.202,1.486,2.812c-2.454,0.725-4.252,2.998-4.252,5.685c0,0.218,0.178,0.396,0.395,0.396h16.203c0.218,0,0.396-0.178,0.396-0.396C18.497,13.831,17.273,12.216,15.573,11.624 M12.568,9.605c0-0.822,0.689-1.779,1.581-1.779s1.58,0.957,1.58,1.779s-0.688,1.779-1.58,1.779S12.568,10.427,12.568,9.605 M5.06,7.233c0-1.213,1.014-2.569,2.371-2.569c1.358,0,2.371,1.355,2.371,2.569S8.789,9.802,7.431,9.802C6.073,9.802,5.06,8.447,5.06,7.233 M2.309,15.335c0.202-2.649,2.423-4.742,5.122-4.742s4.921,2.093,5.122,4.742H2.309z M13.346,15.335c-0.067-0.997-0.382-1.928-0.882-2.732c0.502-0.271,1.075-0.429,1.686-0.429c1.828,0,3.338,1.385,3.535,3.161H13.346z"/></g></g></svg>
                                </div>

                                <div>
                                    <heading :level="3" class="mb-3">Utenti</heading>
                                    <p class="text-90 leading-normal">Gli utenti e gli amministratori registrati sul sito, che possono inserire i contenuti</p>
                                </div>
                            </a>
                        </td>

                        <td class="align-top w-1/2 border-b border-50">
                            <a href="/admin/resources/articles" class="no-underline dim flex p-6">
                                <div class="flex justify-center w-11 flex-no-shrink mr-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 20 20"><g id="Page-1" fill="none" fill-rule="evenodd"><g id="icon-cards" fill="var(--primary)" fill-rule="nonzero"><path id="Shape" d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"/></g></g></svg>
                                </div>

                                <div>
                                    <heading :level="3" class="mb-3">Articoli</heading>
                                    <p class="text-90 leading-normal">Gli articoli e le news del blog inseriti all'interno del sito</p>
                                </div>
                            </a>
                        </td>
                    </tr>

                </table>
            </card>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'Dashboard',

        props: {
            card: Object,
        },
    }

</script>